.edit-product-container {
  align-items: stretch;
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1060px;
  width: 100%;
}

.edit-product {
  display: flex;
}

.product-details {
  display: flex;
  flex-direction: column;
  padding: 80px 40px 0 40px;

  span {
    color: rgba(1, 1, 1, .3);
    font-size: 14px;
    padding: 5px 0;
  }
}

.product-actions {
  display: flex;
  flex-direction: column;
  padding: 80px 40px 0 40px;
  width: 175px;
}

.toggle-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}