.default {
  color: black;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0;
  text-decoration: none;
  text-transform: capitalize;
}

.active {
  composes: default;
  color: #A080ED;
}