.products-container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1060px;
}

.product-link {
  display: inline-flex;
  text-decoration: none;
}