.products-container {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1060px;
}

.product-link {
  display: inline-flex;
  text-decoration: none;
  transition: transform 500ms;

  &:hover {
    transform: scale(1.02);
    transition: transform 500ms;
  }
}