h2, p, span {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* COLORS */
:root {
--green-light-2: #a3f6a0; --green-light-1: #6ddb80; --green: #56bf67; --green-dark-1: #4fa95a; --green-dark-2: #418d46
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/* SPACING */
.m-top-small { margin-top: 5px; }

.m-vert-small { margin: 10px 0; }
.m-vert-medium { margin: 10px 0; }

/* MEDIA QUERIES */
@custom-media --larger-than-mobile (min-width: 480px);
@custom-media --larger-than-tablet (min-width: 768px);
@custom-media --larger-than-small-desktop (min-width: 992px);
@custom-media --larger-than-large-desktop (min-width: 1260px);