h2, p {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

/* SPACING */
.m-top-small { margin-top: 5px; }

.m-vert-small { margin: 10px 0; }
.m-vert-medium { margin: 10px 0; }

/* MEDIA QUERIES */
@custom-media --larger-than-mobile (min-width: 480px);
@custom-media --larger-than-tablet (min-width: 768px);
@custom-media --larger-than-small-desktop (min-width: 992px);
@custom-media --larger-than-large-desktop (min-width: 1260px);